.app {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 30px;
}

.note-input {
  margin-bottom: 50px;
}

.notes {
  display: -ms-grid;
   display: grid;
-ms-grid-column: repeat(4, auto);
  grid-template-columns: repeat(4, auto);

}
.note {
  width: 400px;
  height: 75px;
  line-height: 1.3em;
  overflow: hidden;
  border: 1px solid black;
  background-color: lightblue;
  margin: 0 0 50px 50px;
}

/* The Modal (background) */
.modal {
  padding-top: 100px; /* Location of the box */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-body {
  background-color: #fefefe;
  width: 50px;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  height: 25%;
  margin: 0 0 0 5px;
}

Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi harum, architecto
perspiciatis consequatur repellendus deserunt nesciunt laboriosam beatae eius
ratione incidunt! Ipsam laboriosam officiis aperiam.
